* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body {
    height: 100vh;
}

                                      /* Main Grid */

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 60px 1fr;
}


.Header {
  color: white;
  background-color: #7e728a;
  display: flex;
  justify-content: space-between;
  padding: .7em;
}

                                  /* Navigation Bar */
.nav-bar {
  background-color: #584e63;
  padding-top: .2em;
  padding-left: 15%;
  padding-right: 15%;

}
.main-content {
  background-color: white;
  overflow: auto;
}

#bellsvg {
  margin-top: 1em;
  height: 30px;
}

/* .dropdown {
  display: flex;
} */

.vl {
  border-left: 2px solid #584e63;
  height: 50px;
  margin-top: .6em;
  position: absolute;
  left: 47%;
  top: 0;
}

.profile-img {
  border-radius: 50%;
  height: 50px;
  margin-right: -.8em;

}
h2,
h3 {
  padding-top: .5em;
}

.home-icon,
.chart-icon,
.members-icon,
.settings-icon {
  height: 50px;
  padding: .5em;
}

a {
    text-decoration: none;
}

.dashboard {
  padding-left: 1em;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.dashboard h3 {
  padding-top: 1em;
  padding-right: 1em;
}

input {
  padding: .5em;
  width: 100%;
  background-color: lightgrey;
  height: 60px;
  border: 1px solid grey;
}

.alert {
  border: 1px solid black;
  min-height: 50px;
}
.traffic {
  margin: auto;
  width: 90%;
}
.traffic-header ul {
  display: flex;
  justify-content: space-around;
  /* min-height: 70px; */
  padding: 1em;
  list-style-type: none;
}

.traffic-nav-link:active,
.traffic-nav-link:visited {
  color: white;
  width: auto;
  padding: .5em;;
  padding-left: .6em;
  padding-right: .6em;
  background-color: #584e63;
  border-radius: 38%;
}

canvas {
    max-width: 100%;
}

                              /* Media queries */
@media (min-width: 768px) {

  header {
    grid-area: head;
  }

  nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }
  .grid-container {
    grid-template-columns: 70px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
    "head head"
    "nav main";
  }

  h2 {
    width: 70%;
  }

  .vl {
    left: 77%;
  }
}
